@import url("../../vendor/normalize.css");
@import url("../../vendor/fonts.css");
@import url("../../blocks/header/header.css");
@import url("../../blocks/clients/clients.css");
@import url("../../blocks/container/container.css");
@import url("../../blocks/stack/stack.css");
@import url("../../blocks/author/author.css");
@import url("../../blocks/history/history.css");
@import url("../../blocks/link/link.css");
@import url("../../blocks/footer/footer.css");
@import url("../../blocks/root/root.css");
@import url("../../blocks/main/main.css");


@import url("../../vendor/swiper-bundle.css");
@import url("../../vendor/swiper.css");

.root {
  box-sizing: border-box;
  margin: 0 auto;
}
