.footer__links {
  list-style: none;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 540px) {
  .footer__links {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .footer__links {
    line-height: 48px;
  }
}
