@import url('./__header/history__header.css');
@import url('./__title/history__title.css');
@import url('./__slide-date/history__slide-date.css');
@import url('./__slide-title/history__slide-title.css');
@import url('./__slide-email/history__slide-email.css');
@import url('./__slide-avatar/history__slide-avatar.css');
@import url('./__slide-text/history__slide-text.css');
@import url('./__container/history__container.css');
@import url('./__title-container/.history__title-container.css');
@import url('./__link/history__link.css');
@import url('./__link-arrow/history__link-arrow.css');
@import url('../../blocks/button/button.css');
@import url('./__button/history__button.css');
.history {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #f5f6f7;
  padding-bottom: 5%;
}
@media screen and (max-width: 420px) {
  .history {
    display: flex;
    flex-direction: column;
  }
}
