.statistic__title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 115%;
  padding-left: 0.9em;
}
@media screen and (max-width: 810px) {
  .statistic__title {
    margin-bottom: 2.7%;
    padding-left: 2%;
  }
}
@media screen and (max-width: 390px) {
  .statistic__title {
    font-size: 22px;
    line-height: 136%;
  }
}
