<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alex Zavizhenetc" />
    <title>NewsAnalyzer</title>
    <link
      rel="shortcut icon"
      href="<%=require('../../images/favicon.ico').default%> "
      type="image/x-icon"
    />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>
  <body class="root">
    <main class="main">
      <!-- хедер поиск -->
      <section class="search">
        <div class="container">
          <header class="header">
            <a class="header__logo" href="index.html" title="на главную"
              >NewsAnalyzer</a
            >
            <nav class="header__nav">
              <ul class="header__links">
                <li>
                  <a class="header__link header__link_activ" href="index.html"
                    >Главная</a
                  >
                </li>
                <li>
                  <a class="header__link" href="about.html">О проекте</a>
                </li>
              </ul>
            </nav>
          </header>
          <h1 class="search__title">Что в мире творится?</h1>
          <h2 class="search__subtitle">
            Введите в поиске любую тему и узнайте, насколько популярной она была
            в новостях за прошедшую неделю.
          </h2>
          <form name="searchForm" class="search__form">
            <input
              type="text"
              class="search__input"
              id="search"
              name="searchInput"
              placeholder="Введите тему новости"
              required
              minlength="2"
              maxlength="30"
            />
            <span id="search-error" class="error"></span>
            <button type="submit" class="button search__button"  >Искать</button>
          </form>
        </div>
      </section>
      <!--   спинер  -->
      <section class="preloader" style="display: none;">
        <div class="container">
          <i class="preloader__circle"></i>
          <p class="preloader__text">Идет поиск новостей...</p>
        </div>
      </section>
      <!-- не найдено  -->
      <section class="not-found" style="display: none;">
        <div class="container">
          <img
            src="<%=require('../../images/sadSmile.png').default%>"
            alt="Грустный смайл"
            class="not-found__img"
          />
          <h2 class="not-found__title">Ничего не найдено</h2>
          <p class="not-found__text">
            К сожалению по вашему запросу ничего не найдено.
          </p>
        </div>
      </section>
      <!-- результаты поиска -->
      <section class="result">
        <div class="container result__info">
          <h2 class="result__title">Результаты поиска</h2>
          <a href="analytics.html" class="result__link"
            >Посмотреть аналитику
            <span class="result__link-arrow">&#8250;</span>
          </a>
        </div>
        <div class="container result__cards ">
          <template class="result__template">
            <a href="#" target="_blank" class="result__card-link">
              <img
                src="<%=require('../../images/404_page.png').default%>"
                alt="Фото заголовка"
                class="result__card-img"
              />
              <div class="result__card-description">
                <p class="result__date">2 августа 2020</p>
                <h3 class="result__card-title">
                  Национальное достояние – парки
                </h3>
                <p class="result__card-text">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад
                  здесь начала складываться система национальных парков –
                  охраняемых территорий, где и сегодня каждый может приобщиться
                  к природе.
                </p>
                <p class="result__card-source-link">Лента.ру</p>
              </div>
            </a>
          </template>
          
        </div>
        <button class="button result__button">Показать еще</button>
      </section>

      <!-- об авторе  -->
      <section class="author container">
        <!-- <div class="author__img-container"> -->
          <img
            src="<%=require('../../images/avatar_.png').default%>"
            alt="Автор "
            class="author__avatar"
          />
        <!-- </div> -->

        <div class="author__about">
          <h2 class="author__title">Об авторе</h2>
          <p class="author__text">
            Добрый день! Меня зовут Александр, я frontend разработчик. Живу в
            Москве. Закончил курс Яндекс.Практикума.
          </p>
          <p class="author__text">
            Мне нравится создавать интересные и современные проекты с внутренней
            эстетикой и внешней красотой.Стремлюсь к чистому и красивому коду. В
            работе использую HTML, CSS, JS, Webpack. Верстаю семантично,
            кроссбраузерно и адаптивно(flex, grid), общаюсь с сервером
            посредством API. Применяю методологию БЭМ, парадигму ООП. Активно
            погружаюсь в IT сферу. С каждым днем совершенствую свои навыки в
            разработке. Люблю путешествовать, вкусно готовить и рубится в
            пинг-понг.
          </p>
        </div>
      </section>
    </main>
    <footer class="footer container">
      <p class="footer__copyright">© 2020 NewsAnalyzer</p>
      <nav class="footer__nav">
        <ul class="footer__links">
          <li class="footer__links-item">
            <a class="footer__link" href="index.html">Главная</a>
          </li>
          <li class="footer__links-item">
            <a class="footer__link" href="about.html">О проекте</a>
          </li>
          <li class="footer__links-item">
            <a
              class="footer__link"
              target="_blank"
              href="https://praktikum.yandex.ru"
              >Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__social-links">
        <li class="footer__social-link">
          <a href="https://github.com/Zavizhenetc" target="_blank"
            ><img
              src="<%=require('../../images/github.png').default%>"
              alt="лого Github"
            />
          </a>
        </li>
        <li class="footer__social-link">
          <a href="https://www.facebook.com/alexandr.zavizhenec" target="_blank"
            ><img
              src="<%=require('../../images/fb.png').default%>"
              alt="лого FB"
              class=""/></a>
        </li>
      </ul>
    </footer>

    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
  </body>
</html>
