.history__slide-title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 115%;
  color: #1a1b22;
  margin: 0;
  padding-top: 0.8em;
  padding-left: 0.6em;
}
@media screen and (max-width: 420px) {
  .history__slide-title {
    font-size: 20px;
    line-height: 150%;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }
}
