@import url('./__list/breadcrumbs__list.css');
@import url('./__list-link/breadcrumbs__list-link.css');
@import url('./__list-link_activ/breadcrumbs__list-link_activ.css');

.breadcrumbs {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  padding: 2.7%;
  padding-left: 4.2%;
}
@media screen and (max-width: 810px) {
  .breadcrumbs {
    padding: 4%;
    padding-left: 0;
  }
}
@media screen and (max-width: 524px) {
  .breadcrumbs {
    display: none;
  }
}
