@import url("./__circle/preloader__circle.css");
@import url("./__text/preloader__text.css");
.preloader {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 3.5em;
  background-color: #f5f6f7;
  /* display: none; */
}
