.history__title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 115%;
  margin: 0;
  padding-left: 0.9em;
  padding-top: 0.15em;
  margin: 0;
}
@media screen and (max-width: 810px) {
  .history__title {
    font-size: 30px;
    line-height: 113%;
    padding-left: 0.7%;
    max-width: 46%;
  }
}
@media screen and (max-width: 420px) {
  .history__title {
    line-height: 133%;
    max-width: 60%;
  }
}
