@import url("../search/__title/search__title.css");
@import url("../search/__subtitle/search__subtitle.css");
@import url("../search/__form/search__form.css");
@import url("../search/__input/search__input.css");
@import url("../search/__button/search__button.css");
.search {
  background-image: url("../../images/search_bg.png");
  background-size: cover;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 5.56%;
}
@media screen and (max-width: 768px) {
  .search {
    padding-bottom: 6.1%;
  }
}
@media screen and (max-width: 420px) {
  .search {
    padding-bottom: 10.5%;
  }
}
