.result__card-link {
  text-decoration: none;
  border-radius: 16px;
  background-color: #ffffff;
  max-height: 563px;
  overflow: hidden;
  padding-bottom: 5%;
}
.result__card-link:hover {
  box-shadow: 0px 0px 20px 7px rgba(8, 29, 45, 0.1);
  transition: box-shadow 0.3s;
}

@media screen and (max-width: 910px) {
  .result__card-link {
    max-height: 420px;
  }
}
@media screen and (max-width: 761px) {
  .result__card-link {
    max-height: 446px;
  }
}
@media screen and (max-width: 420px) {
  .result__card-link {
    max-height: 433px;
  }
}
