.search__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 133%;
  color: #ffffff;
  max-width: 608px;
  margin: 0 auto;
  padding-top: 2.4%;
  padding-bottom: 4.5%;
}
@media screen and (max-width: 856px) {
  .search__subtitle {
    max-width: 452px;
    margin-left: 21%;
    padding-bottom: 3.35%;
    padding-left: 5.2%;
    padding-right: 5.2%;
  }
}
@media screen and (max-width: 710px) {
  .search__subtitle {
    padding-left: 5.2%;
    padding-right: 5.2%;
  }
}
@media screen and (max-width: 420px) {
  .search__subtitle {
    margin-left: 0%;
    font-size: 20px;
    line-height: 130%;
    padding-top: 5.4%;
    margin-bottom: 17%;
  }
}
