@import url('../../vendor/normalize.css');
@import url("../../vendor/fonts.css");
@import url("../../blocks/root/root.css");
@import url("../../blocks/main/main.css");
@import url("../../blocks/header/header.css");
@import url("../../blocks/analytics-heading/analytics-heading.css");
@import url("../../blocks/footer/footer.css");
@import url("../../blocks/container/container.css");
@import url("../../blocks/breadcrumbs/breadcrumbs.css");
@import url("../../blocks/statistic/statistic.css");

