.history__button {
  display: none;
  border-radius: 80px;
  text-decoration: none;
  padding: 5%;
  color: #1A1B22;
  width: 90%;
  height: 56px;
  margin: 0 auto;
  margin-top: 7%;
  margin-bottom: 5%;
  background-color: #f5f6f7;
  border: 1px solid #1a1b22;
  align-items: center;
}
.history__button:hover {
  cursor: pointer;
  opacity: .3;
}
@media screen and (max-width: 420px) {
  .history__button {
    display: inline-block;
  }
}
