.author__title {
  margin: 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}
@media (max-width: 790px) {
  .author__title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    padding-top: 4%;
  }
}
